body {
    height: 200vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/djbhybwof/image/upload/v1651955490/Landscape/editBackground_pvwfpb.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    background-color: transparent;
    margin-top: 2%;
}