.opening_picture {
    height: 100vh;
    background-image: url("https://res.cloudinary.com/djbhybwof/image/upload/v1651424844/Landscape/indexBackground_zyl0eo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



