<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <link rel="stylesheet" href="/stylesheets/new.css">
    <title>New Landscape</title>
</head>

<body>
    <%- include('../partials/navbar')%>
        <%- include('../partials/flash') %>

            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-9 col-md-4">
                        <h1 class="text-center text-light display-4 mb-0">New Landscape</h1>
                        <div class="card border border-0 d-flex justify-content-center mt-0">
                            <form action="/landscapes" method="POST" novalidate class="validated-form"
                                enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label class="form-label text-light" for="title">Title</label>
                                    <input class="form-control" type="text" id="title" name="landscape[title]" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label text-light" for="location">Location</label>
                                    <input class="form-control" type="text" id="location" name="landscape[location]"
                                        required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label text-light" for="description">Description</label>
                                    <textarea class="form-control" type="text" id="description"
                                        name="landscape[description]" required></textarea>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-file custom-file">
                                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                                        <label class="form-file-label text-light" for="image">
                                            <span class="form-file-text custom-file-label">Choose image(s)...</span>
                                            <span class="form-file-button">Browse</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3 d-flex justify-content-center">
                                    <button class="btn btn-lg form-button">Add landscape</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"></script>
        <script src='/javascripts/validateForms.js'></script>
</body>

</html>